{% extends "base.html" %}

{% block title %}Комментарии{% endblock %}

{% block content %}

<h1>Комментарии к {{ file.filename }}</h1>

<form method="post">

    <textarea name="content" required></textarea><br>

    <button type="submit">Добавить комментарий</button>

</form>

<ul>

{% for comment in comments %}

    <li>{{ comment.content }} от {{ comment.user.username }}

    {% if current_user.is_admin() %}

        <a href="{{ url_for('delete_comment', comment_id=comment.id) }}">Удалить</a>

    {% endif %}

    </li>

{% endfor %}

</ul>

{% endblock %}